html {
	margin: 0;
	padding: 0;
}

/* Geen tap highlight op Safari mobile – sitebreed */
body,
a,
button {
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	padding-bottom: 0;
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}
